.tag__btn {
    width: 109px;
  height: 20px;
  border-radius: 2px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  color: var(--main-color-white);
  background-color: var(--main-color-pink);
}
