* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --main-color-blue: #3D639D;
  --main-color-gray: #F3F5F8;
  --main-color-green: #00C48C;
  --main-color-white: #fff;
  --main-color-text: #BBC2D0;
  --main-color-pink: #FF647C;
}