.shopnow__page__container {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.shopnow__page__container > p {
  color: var(--main-color-green);
}

.breadcrumb {
  color: var(--main-color-text);
}

.checkout__title {
  margin: 30px 0;
  color: var(--main-color-blue);
  font-weight: 600;
}

.input__container {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: var(--main-color-white);
  display: flex;
  margin: 0 0 30px 0;
  align-items: center;
  justify-content: space-between;
}

.input {
  flex: 1;
  height: 100%;
  text-indent: 20px;
  outline: none;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid transparent;
  border-radius: 25px 0 0 25px;
}

.input__search__btn {
  width: 80px;
  height: 100%;
  border-radius: 0 25px 25px 0;
  border: none;
  background-color: var(--main-color-green);
}

.products__container {
  display: grid;
  margin: 30px auto 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  background-color: var(--main-color-gray);
}


.pagination {
  width: 80%;
  height: 40px;
  margin: 20px auto 0 auto;
  background-color: var(--main-color-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.pagination li, .chevron__icon {
  /* margin: 0 20px; */
  padding: 10px 15px;
  border-radius: 4px;
  background-color: var(--main-color-gray);
}

.pagination li:hover, .chevron__icon:hover {
  color: var(--main-color-white);
  background-color: var(--main-color-green);
}


@media screen and (max-width: 1200px) {
  .products__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .products__container {
    grid-template-columns: repeat(1, 1fr);
  }
}